<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CLBS</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=8,IE=9,IE=10" />
    <meta http-equiv="Expires" content="0"/>
    <meta http-equiv="Cache-Control" content="no-cache"/>
    <meta http-equiv="Cache-Control" content="no-store"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!--ico图标-->
    <link rel="shortcut icon" href="resources/assets/img/favicon.ico"
          th:href="@{/resources/assets/img/favicon.ico}" type="image/x-icon" />
    <!--公共bootstrap样式-->
    <link rel="stylesheet"
          href="resources/assets/plugins/bootstrap/css/bootstrap.min.css"
          th:href="@{/resources/assets/plugins/bootstrap/css/bootstrap.min.css}" />
    <!--login样式-->
    <link rel="stylesheet"
          href="resources/assets/plugins/pageLogin/css/login.css"
          th:href="@{/resources/assets/plugins/pageLogin/css/login.css}" />
</head>
<body>
<section id="login-container">
    <div class="row">
    </div>
    <div class="loginBottom"></div>
</section>
<!--Global JS-->
<footer class="footertc">
    <div class="col-md-12 col-sm-12 col-xs-12">
        版本：3.1.0<br/> ©zwlbs.com 京ICP备15026403号-1 Copyright © 2015 All rights
        reserved.
    </div>
</footer>
<script src="resources/assets/plugins/pageLogin/js/js.KinerCode.js"
        th:src="@{/resources/assets/plugins/pageLogin/js/js.KinerCode.js}"></script>
<!-- <script th:src="@{/resources/vendor/jquery/jquery-2.2.4.min.js}"></script> -->
<script th:src="@{/resources/assets/js/jquery-1.10.2.min.js}"></script>
<script th:src="@{/resources/vendor/jquery/validation/jquery.validate.min.js}"></script>
<script th:src="@{/resources/js/core/login.js}"></script>
<script th:src="@{/resources/assets/plugins/pageLogin/js/slideCode.js}"></script>
<script type="text/javascript">
    if (window != top) {
        top.location.href = location.href;
    }
    var isAdmin = $("#isAdmin").val();
    if(isAdmin!=""){
        console.log($("#commonSmWin"));
        $("#commonSmWin").hide();
        window.location.href="/clbs/login?type=expired";
    }
</script>
</body>

</html>
